<div class="page">
  <div class="page-single">
    <div class="container">
      <div class="row">
        <div class="col col-login mx-auto">
          <div class="text-center mb-6">
            <img src="./assets/brand/tabler.svg" class="h-6" alt="">
          </div>
          <form class="card" action="" method="post">
            <div class="card-body p-6">
              <div class="card-title">Cadastro de usuário</div>
              <div class="form-group">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control" placeholder="Ex.: Gustavo dos Santos">
              </div>
              <div class="form-group">
                <label class="form-label">Email </label>
                <input type="email" class="form-control" placeholder="ex.: gustavo@gmail.com">
              </div>
              <div class="form-group">
                <label class="form-label">Senha</label>
                <input type="password" class="form-control" placeholder="********">
              </div>
               <div class="form-group">
                <label class="form-label">UF</label>
                <select name="" class="form-control">
                  <option value="1">123</option>
                  <option value="2">123234</option>
                </select>
              </div>
               <div class="form-group">
                <label class="form-label">Cidade</label>
                <select name="" class="form-control">
                  <option value="1">123</option>
                  <option value="2">123234</option>
                </select>
              </div>
              <div class="form-footer">
                <button type="submit" class="btn btn-primary btn-block">Criar conta</button>
              </div>
            </div>
          </form>
          <div class="text-center text-muted">
            Já é cadastrado? <a href="/login">Faça login aqui</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
